{%- comment -%}
  Wraps an image or a video with the media-loader component,
  which is responsible for showing a placeholder or loading animation
  until the media is fully loaded.

  The parent is supposed to have width and height or ratio set,
  because the media-loader component will take the full size of its parent.

  Accepts:
  - content: {String} The HTML of the image or video to be wrapped
  - show_skeleton: {Boolean}
{%- endcomment -%}

<media-loader class="block size-full relative group/media-loader">
  <div class="size-full duration-300 opacity-0 transition-opacity group-[[ready]]/media-loader:opacity-100">
    {{- content -}}
  </div>
  {%- if show_skeleton -%}
    <div class="absolute duration-300 inset-0 size-full group-[[ready]]/media-loader:opacity-0">
      <div class="animate-pulse bg-grey-light size-full"></div>
    </div>
  {%- endif -%}
</media-loader>
