<!-- section: main-password -->
{%- liquid
  assign newsletter_html = section.settings.newsletter_form


-%}

<div class="password">
  {%- if newsletter_html != blank -%}
    <div class="password__newsletter">
      {{- newsletter_html -}}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Main Password",
  "settings": [
    {
      "type": "liquid",
      "id": "newsletter_form",
      "label": "Newsletter form",
      "default": "<div class='klaviyo-form-RUr2Yc'></div>"
    }
  ]
}
{% endschema %}
