<!-- section: password-footer -->
{%- liquid
  assign social_links = section.settings.social_menu


-%}

<footer class="fixed inset-x-0 bottom-0 px-gutter py-md">
  <div class="flex items-center justify-center gap-md">
    {%- render 'social-links', socials: linklists[social_links] -%}
  </div>
</footer>

{% schema %}
{
  "name": "Password Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "social_menu",
      "label": "Social Menu"
    }
  ]
}
{% endschema %}
