{% layout none %}<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
<meta charset="utf-8">
<title>Redirecting&hellip;</title>
<link rel="canonical" href="{{ shop.url }}/collections/all">
<meta http-equiv="refresh" content="0;url=/collections/all">
<script>window.location.replace('/collections/all');</script>
</head>
<body>
<p>Redirecting to <a href="/collections/all">/collections/all</a>&hellip;</p>
</body>
</html>
